body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  .user-container {
    margin: 20px auto;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 30px;
  }
  .user-container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px 0;
  }
  .loading {
    font-size: 1.2em;
    color: gray;
  }
  button{
    width: 100px;
    height: 35px;
    background-color: rgb(227, 212, 208);
    border-radius: 20px;
  }